@use 'reset';
@use 'variables' as *;
@use 'mixins' as *;

body {
  background-color: #E8F5F2;
}

.fullPage {
  @include FixedMiddle;

  width: 85%;
  //width: 100%;
  max-width: 640px;
  background-color: white;
  margin: auto;
  font-family: 'Karla', sans-serif;
  border-radius: 10px;
  box-shadow: 0 10px 20px 5px #d9d9e2;

  h2 {
    color: $sideBackgroundC;
    font-weight: 700;
    padding-bottom: 30px;
  }

  h3 {
    color: $buttonC;
    font-weight: 700;
  }

  p {
    color: $lightGray;
    font-weight: 400;
    font-size: 16px;
  }

  .subscription,
  .left,
  .right {
    padding: 40px;
  }

  .subscription {
    height: 220px;
    color: $gBlue;
  }

  .container {
    height: 260px;
    display: flex;
    flex-wrap: wrap;

  .left,
  .right {
    width: 50%;
    background-color: $sideBackgroundC;
  }

  .left {
    border-bottom-left-radius: 10px;

    button {
      background-color: $buttonC;
      outline: none;
    }
  }
  
  .right {
    border-bottom-right-radius: 10px;
    opacity: 80%;
  }
 }
}



form {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    width: 300px;
    height: 25px;
    border-bottom: 1px solid #000000;
  }

  p {
    span {
      font-style: bold;
    }
  }
}