@use 'reset';
@use 'variables' as *;
@use 'mixins' as *;

.fullPage {
  @include FixedMiddle;
  
  width: 85%;
  max-width: 800px;
  margin: auto;
  font-family: 'Karla', sans-serif;
  border: 1px solid black;

  h2 {
    color: $sideBackgroundC;
    font-weight: 700;
  }

  h3 {
    color: $buttonC;
    font-weight: 700;
  }

  p {
    color: $lightGray;
    font-weight: 400;
    font-size: 16px;
  }

  .subscription,
  .left,
  .right {
    padding: 40px;
  }

  .subscription {
    color: $gBlue;
  }

  .container {
    height: 300px;
    display: flex;
    flex-wrap: wrap;

  .left,
  .right {
    width: 50%;
    background-color: $sideBackgroundC;
  }

  .left {
    button {
      background-color: $buttonC;
      outline: none;
    }
  }
  
  .right {
    opacity: 80%;
  }
 }
}



form {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    width: 300px;
    height: 25px;
    border-bottom: 1px solid #000000;
  }

  p {
    span {
      font-style: bold;
    }
  }
}