@use 'reset';
@use 'variables' as *;
@use 'mixins' as *;

body {
  background-color: $backgroundC;
}

.fullPage {
  @include FixedMiddle;

  width: 85%;
  //width: 100%;
  max-width: 640px;
  background-color: white;
  margin: auto;
  font-family: 'Karla', sans-serif;
  border-radius: 10px;
  box-shadow: 0 10px 20px 5px #d9d9e2;

  h2 {
    color: $sideBackgroundC;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: -1px;
  }

  h3 {
    font-weight: 700;
    font-size: 18px;
  }

  .subscription {
    height: 220px;
    color: $gBlue;
    padding: 40px;

    h3 {
      color: $buttonC;
      padding-bottom: 10px;
    }
    
    p {
      line-height: 1.7;
    }
  }

  .container {
//    height: 240px;
    display: flex;
    flex-wrap: wrap;

    h3 {
      color: $lightGray;
      font-weight: 400;
      font-size: 19px;
    }

    p {
      color: $lightGray07;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
    }

    .left,
    .right {
      width: 50%;
      padding: 40px;
    }

    .left {
      background-color: $sideBackgroundC;
      border-bottom-left-radius: 10px;
      position: relative;

      h3 {
        padding-bottom: 14px;
      }

      #bigger {
        color: $lightGray;
        font-weight: 700;
        font-size: 32px;
        position: relative;
        
        &::after {
          content: 'per month';
          color: $lightGrayRGBA;
          font-weight: 400;
          font-size: 16px;
          padding-left: 12px;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
        }
      }

      #per-day-line {
        font-size: 16px;
      }

      button {
        width: 100%;
        color: white;
        background-color: $buttonC;
        margin-top: 30px;
        padding: 15px 0;
        font-weight: 400;
        font-size: 16px;
        border-radius: 5px;
        box-shadow: 0 4px 20px -1px rgb(36, 145, 143);

        &::after {
          content: "Sign up now!";
          display: none;
          position: absolute;
          top: 150px;
          left: 50%;
          transform: translate(-50%);
        }

        &:hover {
          &::after {
            display: block;
          }
        }
      }
    }
    
    .right {
      background-color: $sideBackgroundC08;
      border-bottom-right-radius: 10px;

      h3 {
        padding-bottom: 18px;
      }
    }
  }
}



form {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  input {
    width: 300px;
    height: 25px;
    border-bottom: 1px solid #000000;
  }

  p {
    span {
      font-style: bold;
    }
  }
}