$backgroundC: rgb(230, 239, 246);
$sideBackgroundC: rgb(42, 178, 175);
$sideBackgroundC08: rgba(42, 178, 175, 0.85);
$buttonC: rgb(192, 223, 52);

$formC: rgb(128, 128, 128);

$lightGray: rgb(229, 239, 245);
$lightGray07: rgba(229, 239, 245, 0.7);
$lightGrayRGBA: rgba(229, 239, 245, 0.5);
$gBlue: rgb(152, 166, 189);